#head {
    margin: 0px;
    width: 100%;
    color: #ffffff;
    background: linear-gradient(to bottom, #3C3C3C 0%, #1B1B1B 100%) repeat scroll 0 0 transparent;
    position: fixed;
    height: 60px !important;
    top: 0;
    z-index: 100;
}