.sidenav-container {
    height: 100%;
    width: 100%;
}

.sidenav {
    width: 200px;
    height: 100%;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
    overflow: hidden;
}

.sidenav-content {
    height: 100%;
    width: auto;
    margin-left: 205px;
}

.pubtree {
    background: #f5f5f5;
    position: fixed;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 100%;
    top: 60px;
    bottom: 60px;
    width: 160px;
    font-weight: 600;
    margin-top: 5px;
}

.tabarea {
    height: 100%;
    width: 100%;
    margin-left: 165px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 5px;
    overflow: hidden;
    /*   overflow: scroll; */
}

.content {
    position: absolute;
    width: 100%;
    height: inherit;
    padding: 60px 5px 10px 0;
    /* Header height and footer height */
    margin: 0 auto 0 auto;
    /* Center content */
}