.greenfg {
    color: black;
    background-color: #12C709;
    margin-left: 5px;
    margin-top: 5px;
}

.greenLabel {
    color: lawngreen;
    background-color: #7f7f7f;
}

.redfg {
    color: white;
    background-color: #E3240A;
    margin-left: 5px;
    margin-top: 5px;
}

.bluefg {
    color: white;
    background-color: #003CEB;
    margin-left: 5px;
    margin-top: 5px;
}

.yellowfg {
    color: black;
    background-color: yellow;
    margin-left: 5px;
    margin-top: 5px;
}

.holdfg {
    color: yellow;
    background-color: #7f7f7f;
    margin-left: 5px;
    margin-top: 5px;
}

.labelfg {
    color: ivory;
    background-color: #7f7f7f;
    margin-left: 5px;
    margin-top: 5px;
}

.greyfg {
    color: darkgrey;
    background-color: #ffffff;
    font-style: italic;
    margin-left: 5px;
    margin-top: 5px;
}

.whitefg {
    color: navy;
    background-color: #ffffff;
    margin-left: 5px;
    margin-top: 5px;
}