/* You can add global styles to this file, and also import other style files */

@import '~angular-tree-component/dist/angular-tree-component.css';
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~jqwidgets-scripts/jqwidgets/styles/jqx.base.css";
@import "~jqwidgets-scripts/jqwidgets/styles/jqx.energyblue.css";

/*
body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
*/

html {
    height: 100vh;
    width: 100vh;
}

body {
    background: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
    min-height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
    #content {
        padding: 30px 50px;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                background: #fff;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 8px;
                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00A8FF;
                }
                ul {
                    margin-top: 20px;
                    li {
                        padding: 0;
                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.greenfg {
    color: black;
    background-color: #12C709;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.greenLabel {
    color: lawngreen;
    background-color: #7f7f7f;
}

.redfg {
    color: white;
    background-color: #E3240A;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.bluefg {
    color: white;
    background-color: #003CEB;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.yellowfg {
    color: black;
    background-color: yellow;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.holdfg {
    color: yellow;
    background-color: #7f7f7f;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.labelfg {
    color: ivory;
    background-color: #7f7f7f;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.greyfg {
    color: darkgrey;
    background-color: #ffffff;
    font-style: italic;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

.whitefg {
    color: navy;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}