mat-card img {
    width: auto;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.icon {
    font-size: 18px;
}

mat-card:hover img {
    opacity: 0.5;
}

.header {
    margin-bottom: 3px;
    margin-top: 0px;
}

mat-card {
    width: 250px;
    height: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #7f7f7f;
    font-weight: 600;
    padding: 5px;
}

.imageContent {
    /* display: inline-block; */
    width: auto;
    height: 100%;
    background-color: #7f7f7f;
    position: fixed;
    z-index: 99;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: auto;
    overflow: scroll;
}